[submodule "external/range-v3"]
	path = external/range-v3
	url = git@github.com:ericniebler/range-v3.git
[submodule "external/parallelstl"]
	path = external/parallelstl
	url = git@github.com:intel/parallelstl.git
